@import 'default/colors';
@import 'arg-map';

$contradicts-color: nth(map-get($colors, hue), 4);
$motivates-color: nth(map-get($colors, hue), 2);
$causes-color: nth(map-get($colors, hue), 5);
$subtype-color: nth(map-get($colors, hue), 6);

#causes {
  fill: $causes-color;
}
#subtype {
  fill: $subtype-color;
}
#contradicts {
  fill: $contradicts-color;
}
#motivates {
  fill: $motivates-color;
}
.link {
  &.contradicts {
    stroke: $contradicts-color;
  }
  &.motivates {
    stroke: $motivates-color;
  }
  &.causes {
    stroke: $causes-color;
  }
  &.subtype {
    stroke: $subtype-color;
  }
}