@import 'default/colors';
@import 'default/flex-box';

form {
    figure {
        figcaption {
            text-align: center;
        }
        margin: 0;
        > div {
            min-height: 20ex;
            min-width: 22ex;
            margin: 0;
        }
    }
}
#stat-out {
    display: none;
}
#diff > div, #mean > div, #freq > div {
        min-height: 30ex;
}
.act {
    @include display(flex);
    @include justify-content(center);
    > progress {
        margin: 1ex;
        height: 3ex;
    }
    > button {
        margin: 1ex;
    }
}
#kuwa-parms {
    @include display(flex);
    > figure {
        flex: 1 1 0;
    }
}
.data-input {
    @include display(flex);
    > div {
        padding: 0 1ex;
        flex: 1 1 0;
        > label {
            display: block;
            text-align: center;
        }
    }
}
#data1, #data2 {
    width: 100%;
    height: 23ex;
    font-family: monospace;
    font-size: smaller;
}
.legend, .flot-tick-label {
    font-size: smaller;
}
.legendLabel {
    padding: 0.5ex;
}
.spark {
    display: inline-block;
    width: 5ex;
    height: 2ex;
}
#distrogram {
    margin: 1ex 0;
}
.bounds {
    font-size: smaller;
    tbody > tr {
        > td, > th {
            padding: 1ex;
        }
    }
}