/* ========== */
/*  General   */
/* ========== */

html,
button,
body,
input,
select,
textarea {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    text-rendering: optimizeLegibility;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;

    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-kerning: normal;
}
body {
    font-family: 'Raleway';
}
.font-fail {
    font-family: sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
hr {
    margin-left: 0;
    border: 1px solid #7d7fa8;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
.date {
    font-size: smaller;
    color: #454157;
}

/* ========== */
/*  Body      */
/* ========== */

body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    padding-left: 5vw;
    font-size: 1.2em;
    min-height: 100vh;
    /* h 3.939 v 0.761 c 0.375 */
    /* value 6 6 */
    color: #211d26;
    /* value 6 1 */
    background-color: #acb7f0;
}
main {
    position: relative;
    min-width: 45ex;
    max-width: 65ex;
    padding-right: 5vw;
    margin: 2ex 0;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* ========== */
/*  Header    */
/* ========== */

header {
    -webkit-box-ordinal-group: -3;
    -webkit-order: -3;
    -ms-order: -3;
    order: -3;

    min-width: 45ex;
    max-width: 65ex;
}
header > hr {
    margin-bottom: 0;
}
header > h1 {
    margin: 0.5ex 0ex;
    display: inline;
}
header > span {
    margin: 1ex;
}

/* ========== */
/*  Home      */
/* ========== */

.teasers {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.teasers > hr {
    width: 45ex;
}
.teaser .noted {
    background-color: inherit;
}
.teaser .noted::after {
    content: "";
}
.teaser .sidenote {
    display: none;
}

/* ========== */
/*  Archive   */
/* ========== */

.posts > dt {
    margin-top: 1ex;
}

/* ========== */
/*  Notes     */
/* ========== */

.noted {
    /* hue 7 7 */
    background-color: #96ccc7;
}
.sidenote::first-letter {
    background-color: #96ccc7;
}
#warnings {
   top: 0;
}
#warnings::first-letter {
    background-color: inherit;
}
#warnings > ul {
    margin: 0;
    padding-left: 2ex;
    list-style-type: none;
}
#warnings > ul > li > details > p {
    margin: 0;
    padding-left: 1ex;
}

/* ========== */
/*  Nav       */
/* ========== */

nav > ul {
    padding: 0;
    list-style-type: none;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}
.home-menu > nav > ul {
    margin: 1ex 0;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
.pagination > ul {
    margin: 0;
}
.tags > ul {
    margin: 0;
    font-size: smaller;
}
.pagination > ul > li {
    margin: 1ex;
}
.tags > ul > li~li::before {
    content: "—";
    color: #454157;
}
.pagination > ul > li > a, .tags > ul > li > a {
    color: #454157;
    transition: color 0.3s ease;
}
.pagination > ul > li > a:hover, .tags > ul > li > a:hover {
    color: #211d26;
    text-decoration: none;
}
.home-menu {
    min-width: 45ex;
    max-width: 65ex;
}
.home-menu.top {
    -webkit-box-ordinal-group: -2;
    -webkit-order: -2;
    -ms-order: -2;
    order: -2;
}
.pagination.top {
    -webkit-box-ordinal-group: -1;
    -webkit-order: -1;
    -ms-order: -1;
    order: -1;
}