<script type="text/javascript">
if (/Trident/.test(navigator.userAgent)) {
  alert('I have reports that certain features are broken on Internet Explorer ' +
        '(e.g. SVG paths with markers, flexbox with the \'order\' attribute). ' +
        'This is a "Won\'t fix" at the moment so, if you\'re using IE, ' +
        'browse at your own risk.');
}
</script>
</head>
<body>
<div id="underlay">
<main><ul class="teasers">
  $for(posts)$
    <li><article class="teaser">
        <h2><a href="$url$">$title$</a></h2>
       <div class="metadata">
        $partial("templates/tag-nav.html")$
        $if(series-present)$
          <nav><a class="series" href="$series-url$">Series: $series-name$</a></nav>
        $endif$
        <span class="date">Published on <time datetime="$date$">$date$</time>.</span>
       </div>

       $if(abstract)$
         <div class="abstract">$abstract$</div>
       $endif$

        $teaser$

    </article></li>
    $sep$<hr/>
  $endfor$
</ul></main>

<nav class="pagination top">
  $partial("templates/pagination.html")$
</nav>
<nav class="pagination bottom">
  $partial("templates/pagination.html")$
</nav>
