$for(csses)$
  <link rel="stylesheet" type="text/css" href="/css/$filename$.css" />
$endfor$
</head>
<body>
<div id="underlay">
<nav><a href="/">Home</a></nav>
<main><article>
  <h2 id="article-title">$title$</h2>
  $if(subtitle)$
    <h3 id="article-subtitle">$subtitle$</h3>
  $endif$
  <div class="metadata">
  $partial("templates/tag-nav.html")$
  $if(series-present)$
    <nav><a class="series" href="$series-url$">Series: $series-name$</a></nav>
  $endif$
  <span class="date">Published on <time datetime="$num-date$">$date$</time>.</span>
  $if(edited)$
    <br><span class="date">Last edited on <time datetime="$dateInNumbers(edited)$">$dateInWords(edited)$</time>.</span>
  $endif$
  </div>
  $if(graph-of-contents)$
    <div id="graph-of-contents"><a href="#$graph-of-contents$-map" class="arg-map" data-data-src="../../data/$graph-of-contents$">Contents</a></div>
  $endif$
  $if(abstract)$
    <div class="abstract">
      $abstract$
    </div>
  $endif$

  $if(warnings)$
    <aside class="sidenote" id="warnings">Warnings: <ul>
      $for(warnings)$
        <li><details><summary>$summary$</summary><p>$details$</p></details></li>
      $endfor$
    </ul></aside>
  $endif$

  $body$
</article></main>

</div>
$if(overlay)$
<div id="overlay" class="inactive">$overlay$</div>
$endif$

$for(arg-map)$
<script defer type="text/javascript" src="/js/$filename$.js"></script>
$endfor$
$for(custom-elements)$
<script defer type="text/javascript" src="/js/$filename$.js"></script>
$endfor$
$for(jses)$
<script defer type="text/javascript" src="/js/$filename$.js"></script>
$endfor$
