menu[type="popup"] {
    visibility: hidden;
    margin: 0;
    padding: 0;
    & > hr, & > menuitem {
        display: none;
    }
}

.menu {
    margin: 0;
    padding: 1ex;
    visibility: visible;
    list-style-type: none;
    position: absolute;
    & > li[checked=checked] {
        font-weight: 700;
    }
}