<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <title>ColEx—$title$</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/combined.css" />
  </head>
  <body>
    $body$

    <header>
      <h1>Collectively Exhaustive</h1><span>A weblog</span>
      <hr/>
    </header>

    <div class="main-menu top">
      $partial("templates/menu.html")$
      <hr/>
    </div>

    <div class="main-menu bottom">
      <hr/>
      $partial("templates/menu.html")$
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/combined.js"></script>
  </body>
</html>
