<main><ul class="teasers">
  $for(posts)$
    <li><article class="teaser">
        <h2><a href="$url$">$title$</a></h2>
        $partial("templates/tag-nav.html")$
        <span class="date">Published on <time datetime="$date$">$date$</time>.</span>

        teaser


    </article></li>
    $sep$<hr/>
  $endfor$
</ul></main>

<div class="home-menu top">
  $partial("templates/index-menu.html")$
  <hr/>
</div>
<nav class="pagination top">
  $partial("templates/pagination.html")$
</nav>
<nav class="pagination bottom">
  $partial("templates/pagination.html")$
</nav>
<div class="home-menu bottom">
  <hr/>
  $partial("templates/index-menu.html")$
</div>
