<main><article>
  <h2>$title$</h2>
  $partial("templates/tag-nav.html")$
  <span class="date">Published on <time datetime="$date$">$date$</time>.</span>
  $if(edited)$
    <br><span class="date">Last edited on <time datetime="$date$">$date$</time>.</span>
  $endif$

  $body$

  $if(warnings)$
    <aside class="sidenote" id="warnings">Warnings: <ul>
      $for(warnings)$
        <li><details><summary>$title$</summary><p>$explain$</p></details></li>
      $endfor$
    </ul></aside>
  $endif$
</article></main>
