$for(csses)$
  <link rel="stylesheet" type="text/css" href="/css/$filename$.css" />
$endfor$
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>
<div id="underlay">
<main><article>
  <h2 id="article-title">$title$</h2>
  $partial("templates/tag-nav.html")$
  <span class="date">Published on <time datetime="$num-date$">$date$</time>.</span>
  $if(edited)$
    <br><span class="date">Last edited on <time datetime="$date$">$date$</time>.</span>
  $endif$
  $body$

  $if(warnings)$
    <aside class="sidenote" id="warnings">Warnings: <ul>
      $for(warnings)$
        <li><details><summary>$summary$</summary><p>$details$</p></details></li>
      $endfor$
    </ul></aside>
  $endif$
</article></main>

$partial("templates/bottom.html")$
</div>
$if(overlay)$
<div id="overlay" class="inactive">$overlay$</div>
$endif$

<script type="text/javascript" src="/js/default.js"></script>
$for(jses)$
<script type="text/javascript" src="$filename$"></script>
$endfor$
