.swap {
  position: relative;
  background-color: $swap-back-color;
}
.swap-down, .swap-up {
  position: absolute;
  display: inline-block;
  &::before {
    cursor: pointer;
    content: '⤸';
  }
}
.swap-down {
  right: -2ex;
}  
.swap-up {
  left: -2ex;
  transform: rotate(180deg);
}