@import 'flex-box';
@import 'colors';

/* ========== */
/*  General   */
/* ========== */

$overlay-dur: 1s;

html,
button,
body,
input,
select,
textarea {
    font-family: 'Open Sans';

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    text-rendering: optimizeLegibility;
    -webkit-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;

    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-kerning: normal;
}
.font-fail {
    font-family: sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    border-bottom: 1px solid $body-text-color;
}
article a {
    &[href^="#"] {
        border-bottom: 1px dotted $body-text-color;
    }
    border-bottom: 1px dashed $body-text-color;
}
h1, h2, h3, h4, h5, h6 {
    > a {
        border-bottom: none;
    }
}
hr {
    margin-left: 0;
    border: 1px solid $light-text-color;
}
.date {
    font-size: smaller;
    color: $light-text-color;
}

/* ========== */
/*  Body      */
/* ========== */

body {
    font-size: 1.2em;

    padding-left: 5vw;
    color: $body-text-color;
    background-color: $body-back-color;
}
#underlay {
    min-height: 100vh;
    @include display(flex);
    @include flex-direction(column);
    transition: -webkit-filter $overlay-dur, filter $overlay-dur;
}
#underlay.inactive {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    filter: url(/images/blur.svg#blur);
}
#overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding-left: 5vw;
    top: 0;
    left: 0;
    background-color: rgba($body-back-color, 0.5);
}
#overlay.inactive {
    display: none;
}
main {
    position: relative;
    min-width: 45ex;
    max-width: 65ex;
    padding-right: 5vw;
    margin: 2ex 0;

    @include flex(1);
}

/* ========== */
/*  Header    */
/* ========== */

header {
    @include order(-3);

    min-width: 45ex;
    max-width: 65ex;

    > hr {
        margin-bottom: 0;
    }
    > h1 {
        margin: 0.5ex 0ex;
        display: inline;
    }
    > span {
        margin: 1ex;
    }
}

/* ========== */
/*  Home      */
/* ========== */

.teasers {
    margin: 0;
    padding: 0;
    list-style-type: none;
    > hr {
        width: 60%;
    }
}
.teaser {
    .noted {
        background-color: inherit;
        &::after {
            content: "";
        }
    }
    .sidenote {
        display: none;
    }
}

/* ========== */
/*  Archive   */
/* ========== */

.posts > dt {
        margin-top: 1ex;
}

/* ========== */
/*  Warnigs   */
/* ========== */

#warnings {
   top: 0;
   &::first-letter {
       background-color: inherit;
   }
   > ul {
       margin: 0;
       padding-left: 2ex;
       list-style-type: none;
   }
}
details > p {
    margin: 0;
    padding-left: 1ex;
}

/* ========== */
/*  Nav       */
/* ========== */

nav > ul {
    padding: 0;
    list-style-type: none;
    @include display(flex);
}
.main-menu > nav > ul {
    margin: 1ex 0;
    @include justify-content(space-between);
    > li > a {
        transition: color 0.3s;
        &:hover {
            border: none;
            color: $inactive-color;
        }
    }
}
.pagination {
    font-size: larger;
    > ul {
        margin: 0 0 0 -2ex;
        > li {
            margin: 1ex 2ex;
        }
    }
}
.tags > ul {
    margin: 0;
    font-size: smaller;
    > li~li::before {
        content: "—";
        color: $light-text-color;
    }
}
#tag-cloud {
    margin-top: 1ex;
}
.pagination > ul > li > a,
.tags > ul > li > a,
#tag-cloud > a {
    border-bottom: none;
    /* value 6 5 */
    color: $light-text-color;
    transition: color 0.3s;
    &:hover {
        color: $body-text-color;
        text-decoration: none;
    }
}
.main-menu {
    min-width: 45ex;
    max-width: 65ex;
}
.main-menu.top {
    @include order(-2);
}
.pagination.top {
    @include order(-1);
}
.main-menu.bottom {
    @include order(1);
}
nav > ul > li.inactive {
    color: $inactive-color;
}
blockquote {
    padding-left: 2ex;
    quotes: "“" "”" "‘" "’";
    margin: 0;
}
.epigraph > p::before,
.quote::before {
    content: open-quote;
    font-size: 6ex;
    line-height: 0;
    vertical-align: -0.7ex;
}
// Must close quote to satisfy browser nesting algo
.epigraph > p::after,
.quote::after {
    content: close-quote;
    visibility: hidden;
}
.conversation {
    display: inline-block;
    > p {
        &:nth-of-type(odd) {
            background-color: $convo-1;
        }
        &:nth-of-type(even) {
            background-color: $convo-2;
        }
    }
}
dd {
    margin-left: 2ex;
}
.epigraph, .abstract {
    margin: 0 6ex;
    font-size: smaller;
}
.epigraph {
    padding: 0;
}
.references {
    font-size: smaller;
}
hr.references {
    /* margin: auto; */
    width: 60%;
    /* width: 45ex; */
}
figure {
    > img {
        width: 100%;
    }
    > figcaption {
        margin: 0 4ex;
        font-size: smaller;
    }
}
