@import 'libs/primitives/borders';
@import 'libs/colors';
@import 'libs/primitives/spacing';

#smoking-graph, #smoking-graph-silly {
  width: 60%;
}

svg > g.graph > polygon {
    fill: none;
}

#graph-spec {
    width: 50%;
    height: 30ex;
}

#spec-and-render {
    @include margin-vertical-3ex;
    display: flex;
    justify-content: space-between;
}

#d-connection-from, #d-connection-to, #instruments-cause, #instruments-effect {
    width: 8ex;
}

#graph-error::before, #discriminate-error::before {
    content: "Errors: ";
}

#graph-error, #discriminate-error {
    @include border-radius;
    @include padding-1ex;
    @include background-error-color;
}

.analysis-header {
    @include margin-bottom-1ex;
}

.analysis-panel {
    @include border-radius;
    @include padding-1ex;
    @include margin-vertical-1ex;
    @include background-alt-color-translucent;
}

#nodes-and-seps {
    textarea {
        height: 30ex;
        width: 100%;
    }
    > * {
        width: 48%;
    };
    display: flex;
    justify-content: space-between;
}

#spec1-spec2 {
    > * {
        width: 48%;
        height: 30ex;
    };
    display: flex;
    justify-content: space-between;
}

#triplets-table {
    width: 60vw;
}

#widget-hr {
    width: 60%;
}
