@import 'libs/colors';
@import 'libs/primitives/borders';
@import 'libs/primitives/dimensions';
@import 'libs/primitives/spacing';
@import 'libs/primitives/typography';

#goods {
    @include padding-1ex;
    @include width-full;
    @include height-small-view;
}

.good {
    font-variant: small-caps;
}

.lottery {
    @include border-radius;
    @include background-alt-color;
    @include padding-1ex;

    cursor: pointer;
}

#function-visualization {
    @include width-full;
}

figcaption {
    text-align: center;
    display: none;
}
