@import 'default/colors';

$reconciled-color: nth(map-get($colors, hue), 6);
$models-color: nth(map-get($colors, hue), 2);
$describes-color: nth(map-get($colors, hue), 4);

#models {
  fill: $models-color;
}
#reconciled {
  fill: $reconciled-color;
}
#describes {
  fill: $describes-color;
}
.link {
  &.describes {
    stroke: $describes-color;
  }
  &.models {
    stroke: $models-color;
  }
  &.reconciled {
    stroke: $reconciled-color;
  }
}

#automaton {
    width: 100%;
}
.empty {
    color: rgb(156, 69, 53);
}
.labor {
    color: rgb(57, 147, 57);
}
.capital {
    color: rgb(116, 46, 153);
}
