@import 'libs/colors';

button[data-balloon] {
    overflow: visible;
}

[data-balloon] {
    position: relative;
    cursor: pointer;
}

[data-balloon]::after {
    filter: alpha(opacity=0);
    opacity: 0;
    pointer-events: none;
    transition: all 0.18s ease-out 0.18s;
    font-size: smaller;
    border-radius: 4px;

    @include background-color-dark;

    color: nth(map-get($colors, hue), 7);
    content: attr(data-balloon);
    padding: 0.5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
}

[data-balloon]::before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    filter: alpha(opacity=0);
    opacity: 0;
    pointer-events: none;
    transition: all 0.18s ease-out 0.18s;
    content: '';
    position: absolute;
    z-index: 10;
}

[data-balloon]:hover::before,
[data-balloon]:hover::after,
[data-balloon][data-balloon-visible]::before,
[data-balloon][data-balloon-visible]::after {
    filter: alpha(opacity=100);
    opacity: 1;
    pointer-events: auto;
}
// [data-balloon].font-awesome:after {
//   font-family: FontAwesome; }
[data-balloon][data-balloon-break]::after {
    white-space: pre;
}

[data-balloon][data-balloon-blunt]::before,
[data-balloon][data-balloon-blunt]::after {
    transition: none;
}

[data-balloon][data-balloon-pos="up"]::after {
    bottom: 100%;
    left: 50%;
    margin-bottom: 11px;
    transform: translate(-50%, 10px);
    transform-origin: top;
}

[data-balloon][data-balloon-pos="up"]::before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    transform: translate(-50%, 10px);
    transform-origin: top;
}

[data-balloon][data-balloon-pos="up"]:hover::after,
[data-balloon][data-balloon-pos="up"][data-balloon-visible]::after {
    transform: translate(-50%, 0);
}

[data-balloon][data-balloon-pos="up"]:hover::before,
[data-balloon][data-balloon-pos="up"][data-balloon-visible]::before {
    transform: translate(-50%, 0);
}

[data-balloon][data-balloon-length='small']::after {
    white-space: normal;
    width: 80px;
}

[data-balloon][data-balloon-length='medium']::after {
    white-space: normal;
    width: 150px;
}

[data-balloon][data-balloon-length='large']::after {
    white-space: normal;
    width: 260px;
}

[data-balloon][data-balloon-length='xlarge']::after {
    white-space: normal;
    width: 380px;
}

@media screen and (max-width: 768px) {
    [data-balloon][data-balloon-length='xlarge']::after {
        white-space: normal;
        width: 90vw;
    }
}

[data-balloon][data-balloon-length='fit']::after {
    white-space: normal;
    width: 100%;
}
