@import 'libs/foo/typography';
@import 'libs/foo/transition';
@import 'libs/foo/content';
@import 'libs/foo/dimensions';
@import 'libs/foo/positioning';
@import 'libs/foo/spacing';
@import 'libs/foo/borders';
@import 'libs/normalize';
@import 'libs/colors';
@import 'libs/details';
@import 'libs/sidenote';
@import 'libs/menu';
@import 'libs/tree';
@import 'libs/swap';
@import 'libs/arg-map';

/* ========== */
/*  General   */
/* ========== */

html,
button,
body,
input,
select,
textarea {
    @include font-default;
    @include typographic-features;
}
a {
    text-decoration: none;
    color: unset;
}
a:hover {
    @include border-solid;
}
article a {
    &[href^="#"] {
        @include border-dotted;
    }
    @include border-dashed;
}
h1, h2, h3, h4, h5, h6 {
    > a {
        @include border-none;
    }
}
hr {
    @include margin-left-none;
    @include border-solid;
    @include light-color-text;
}
.date {
    @include light-color-text;
}
.math {
    font-size: 95%;
}
.macros {
    display: none;
}

/* ========== */
/*  Body      */
/* ========== */

body {
    @include font-default-size;
    @include padding-horizontal-view;
    @include dark-color-text;
    @include background-color;
}
#underlay {
    @include height-full-view;
    display: flex;
    flex-direction: column;
    transition: filter $transition-dur;
}
#underlay.inactive {
    filter: blur(5px);
}
#overlay {
    @include height-full-view;
    @include width-full-view;
    @include padding-horizontal-view;
    @include top-left;
    @include background-color-translucent;
}
#overlay.inactive {
    display: none;
}
main {
    position: relative;
    flex: 1;
    @include max-width-medium;
    @include padding-right-5vw;
}

/* ========== */
/*  Header    */
/* ========== */

header {
    order: -3;

    @include max-width-medium;

    > hr {
        @include margin-bottom-none;
    }
    > h1 {
        @include margin-right-quarterem;
        display: inline-block;
        hyphens: none;
    }
}

/* ========== */
/*  Home      */
/* ========== */

ul.teasers {
    @include padding-none;
    list-style-type: none;
    > hr {
        @include width-60;
    }
}
.teaser {
    a[href^="#"] {
        border-bottom: none;
        cursor: unset;
    }
    #graph-of-contents {
        display: none;
    }
    .noted {
        background-color: unset;
        &::after {
            content: "";
        }
    }
    .sidenote {
        display: none;
    }
}

/* ========== */
/*  Archive   */
/* ========== */

dl.posts > dd {
    @include margin-left-1em;
    @include font-smaller;
}
dl.posts > dt {
    @include margin-vertical-1ex;
}

/* ========== */
/*  Warnings   */
/* ========== */

@media (max-width: $big-enough-for-marginalia) {
    #warnings {
        position: unset;
        width: unset;
        > ul > li {
            display: inline-block;
            @include margin-horizontal-1em;
        }
    }
}


#warnings {
    @include top-10;
    > ul {
        margin-left: -2ex;
        list-style-type: none;
        > li > details > p {
            @include margin-left-1em;
        }
    }
}


/* ========== */
/*  Nav       */
/* ========== */

#graph-of-contents {
    @include font-smaller;
    @include light-color-text;
}

#graph-of-contents::before {
    @include diamond;
}

.metadata {
    @include font-smaller;
}

.main-menu > nav > ul,
.pagination > ul {
    list-style-type: none;
    @include padding-none;
    display: flex;
}
.main-menu > nav > ul {
    @include margin-vertical-1ex;
    justify-content: space-between;
    > li > a {
        transition: color $transition-dur;
        &:hover {
            @include border-none;
            @include inactive-color;
        }
    }
}
.pagination > ul {
    @include font-larger;
    @include margin-vertical-1ex;
    > li {
        @include margin-horizontal-1em;
        &:last-child {
            @include margin-right-none;
        }
        &:first-child {
            @include margin-left-none;
        }
    }
}
.tags > ul {
    @include padding-none;
    > li {
        display: inline-block;
        &~li::before {
            margin-left: -4px;
            @include em-dash;
            @include light-color-text;
        }
    }
}
nav > ul > li.inactive {
    @include inactive-color;
}
.pagination > ul > li > a,
.tags > ul > li > a,
#tag-cloud > a {
    @include border-none;
    @include light-color-text;
    transition: color $transition-dur;
    &:hover {
        @include dark-color-text;
    }
}
.main-menu {
    @include max-width-medium;
}
.main-menu.top {
    order: -2;
}
.pagination.top {
    order: -1;
}
.main-menu.bottom {
    order: 1;
}
blockquote {
    @include margin-left-1em;
    quotes: "“" "”" "‘" "’";
}
blockquote::before {
    content: open-quote;
    font-size: 6ex;
    line-height: 0;
    vertical-align: -0.7ex;
}
// Must close quote to satisfy browser nesting algo
blockquote::after {
    content: close-quote;
    visibility: hidden;
}
.conversation {
    > p {
        @include border-radius;
        @include padding-horizontal-quarterem;
        &:nth-of-type(odd) {
            background-color: $convo-1;
        }
        &:nth-of-type(even) {
            background-color: $convo-2;
        }
    }
}
.epigraph, .abstract {
    @include margin-horizontal-3em;
    @include font-smaller;
}
blockquote.epigraph {
    @include padding-none;
    &::before {
        content: open-quote;
        font-size: 5ex;
    }
}
.references {
    @include font-smaller;
}
hr.references {
    @include width-60;
}
figure {
    > img {
        @include width-full;
    }
    > figcaption {
        @include margin-horizontal-2em;
        @include font-smaller;
    }
}
