@import 'libs/primitives/typography';
@import 'libs/primitives/transition';
@import 'libs/primitives/content';
@import 'libs/primitives/dimensions';
@import 'libs/primitives/positioning';
@import 'libs/primitives/spacing';
@import 'libs/primitives/borders';
@import 'libs/normalize';
@import 'libs/colors';
@import 'libs/detail-list';
@import 'libs/sidenote';
@import 'libs/menu';
@import 'libs/tree';
@import 'libs/swap';
@import 'libs/arg-map';
@import 'libs/warnings';
@import 'libs/silence';
@import 'libs/horizontal-list';
@import 'libs/color-link';
@import 'libs/overlay';
@import 'libs/syntax-highlighting';

/* ========== */
/*  General   */
/* ========== */

html,
button,
body,
input,
select,
textarea {
    @include font-default;
    @include typographic-features;
}
a {
    text-decoration: none;
    color: unset;
}
a:hover {
    @include border-bottom-solid;
}
article a {
    &[href^="#"] {
        @include border-bottom-dotted;
    }
    @include border-bottom-dashed;
}
h1, h2, h3, h4, h5, h6 {
    > a {
        @include border-none;
    }
}
hr {
    @include margin-left-none;
    @include border-solid;
    @include light-color-text;
}
.date {
    @include light-color-text;
}
.math {
    font-size: 95%;
}
.macros {
    display: none;
}
blockquote {
    @include margin-left-1em;
    quotes: "“" "”" "‘" "’";
}
blockquote::before {
    content: open-quote;
    font-size: 6ex;
    line-height: 0;
    vertical-align: -0.7ex;
}
// Must close quote to satisfy browser nesting algo
blockquote::after {
    content: close-quote;
    visibility: hidden;
}
.conversation > p {
    @include border-radius;
    @include padding-horizontal-quarterem;
    &:nth-of-type(odd) {
        background-color: $convo-1;
    }
    &:nth-of-type(even) {
        background-color: $convo-2;
    }
}
.epigraph, .abstract {
    @include margin-horizontal-3em;
    @include font-smaller;
}
blockquote.epigraph {
    @include padding-none;
    &::before {
        content: open-quote;
        font-size: 5ex;
    }
}
.references {
    @include font-smaller;
}
hr.references {
    @include width-60;
}
figure {
    > img {
        @include width-full;
    }
    > figcaption {
        @include margin-horizontal-2em;
        @include font-smaller;
    }
}

/* ========== */
/*  Body      */
/* ========== */

body {
    @include font-default-size;
    @include padding-horizontal-view;
    @include dark-color-text;
    @include background-color;
}
#underlay {
    @include height-full-view;
    display: flex;
    flex-direction: column;
    @include overlay-underlay;
}
#overlay {
    @include overlay-overlay;
}
main {
    position: relative;
    flex: 1;
    @include max-width-medium;
    @include padding-right-5vw;
}

/* ========== */
/*  Header    */
/* ========== */

header {
    order: -3;
    @include max-width-medium;
    > hr {
        @include margin-bottom-none;
    }
    > h1 {
        @include margin-right-quarterem;
        display: inline-block;
        hyphens: none;
    }
}

/* ========== */
/*  Home      */
/* ========== */

ul.teasers {
    @include padding-none;
    list-style-type: none;
    > hr {
        @include width-60;
    }
}
.teaser {
    @include silence-special;
}

/* ========== */
/*  Archive   */
/* ========== */

dl.posts > dd {
    @include margin-left-1em;
    @include font-smaller;
}
dl.posts > dt {
    @include margin-vertical-1ex;
}

/* ========== */
/*  Nav       */
/* ========== */

#graph-of-contents {
    @include font-smaller;
    @include light-color-text;
}
#graph-of-contents::before {
    @include diamond;
}
.metadata {
    @include font-smaller;
}
.main-menu > nav > ul,
.pagination > ul {
    @include horizontal-list;
    justify-content: space-between;
    @include margin-vertical-1ex;
}
.main-menu > nav > ul > li > a {
    @include lighten-link;
}
.pagination > ul {
    @include font-larger;
    @include width-small;
}
.tags > ul {
    @include horizontal-list;
    > li~li::before {
        @include em-dash;
        @include light-color-text;
    }
}
.pagination ul > li.inactive, .main-menu ul > li.inactive {
    @include inactive-color;
}
.pagination > ul > li > a,
.tags > ul > li > a,
#tag-cloud > a {
    @include darken-link;
}
.main-menu {
    @include max-width-medium;
}
.main-menu.top {
    order: -2;
}
.pagination.top {
    order: -1;
}
.main-menu.bottom {
    order: 1;
}
.mark-line > path:hover {
    opacity: 1 !important;
}
