@import 'libs/colors';
@import 'libs/primitives/borders';
@import 'libs/primitives/spacing';

.draw {
    border: none;

    button {
        @include margin-horizontal-3em;
    }

    svg {
        cursor: crosshair;

        > path {
            fill: none;
            stroke-width: 2;

            &.draw-input {
                stroke: nth(map-get($colors, value), 1);
            }

            &.interpolated {
                stroke: nth(map-get($colors, value), 2);
            }
        }
    }
}
