@import 'libs/colors';

$supertype-color: nth(map-get($colors, hue), 6);
$motivates-color: nth(map-get($colors, hue), 2);
$contradicts-color: nth(map-get($colors, hue), 4);
$describes-color: nth(map-get($colors, hue), 5);

#describes {
  fill: $describes-color;
}
#supertype {
  fill: $supertype-color;
}
#contradicts {
  fill: $contradicts-color;
}
#motivates {
  fill: $motivates-color;
}
.link {
  &.contradicts {
    stroke: $contradicts-color;
  }
  &.motivates {
    stroke: $motivates-color;
  }
  &.describes {
    stroke: $describes-color;
  }
  &.supertype {
    stroke: $supertype-color;
  }
}
