figure.infinitism {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

figure.foundationalism {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

figure.coherentism {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

figure.empiri-rati {
    margin-top: 1ex;
}
